<%= form_with model: @video, local: true do |f| %>
    <p>タイトル</p><%= f.text_field :title %> <br>
    <p>詳細</p><%= f.text_area :introduction %> <br>
    <p>動画</p><%= f.file_field :video %> <br>
    <%= f.submit "投稿" %>
<% end %>