<%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <!--hidden_fieldで隠してparamsを送ってる。-->
    <%= f.hidden_field :room_id %>
    <%= f.submit %>
<% end %>
<table>
    <thead>
        <tr>
            <th>投稿者</th>
            <th>チャット</th>
        </tr>
    </thead>
    <tbody>
        <% @chats.each do |chat| %>
        <tr>
            <td><%= chat.user.name %></td>
            <td><%= chat.message %></td>
        </tr>
        <% end %>
    </tbody>
</table>