<% if @faculty == 'User' %>
    <h1>
        "<%= @text %>"の検索結果
    </h1>
<% else %>
    <h1>
        "<%= @text %>"の検索結果
    </h1>
<% end %>
<% if @faculty == 'User' %>
    <% @users.each do |user| %>
    <table>
        <tr>
            <th>名前</th>
            <td><%= link_to user.name, user_path(user.id) %></td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td><%= user.introduction %></td>
        </tr>
    </table>
    <% end %>
<% else %>
    <% @books.each do |book| %>
    <table>
        <tr>
            <th>タイトル</th>
            <td><%= link_to book.title, book_path(book.id) %></td>
        </tr>
        <tr>
            <th>詳細</th>
            <td><%= book.body %></td>
        </tr>
    </table>
    <% end %>
<% end %>